{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name">
  <a href="{% url 'admin:index' %}">
    <img src="{% static 'branding/logo.png' %}" alt="{{ site_header }}" style="height: 32px; vertical-align: middle; margin-right: 8px;">
    {{ site_header|default:_('Django administration') }}
  </a>
</h1>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<link rel="icon" type="image/png" href="{% static 'branding/logo.png' %}">
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<style>
  body.login {
    position: relative;
    background: #0f2f4d;
  }
  body.login::before {
    content: "";
    position: fixed;
    inset: -10px;
    background: url('{% static "branding/ekip-foto.png" %}') center/cover no-repeat;
    filter: blur(16px) brightness(0.5);
    z-index: -1;
  }
</style>
{% endblock %}
